* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
#left-arr {
  cursor: pointer;
}
#right-arr {
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 7%;
}
.nav-links {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-links li {
  list-style: none;
  display: flex;
  margin: 10px 30px;
}
.nav-links li a {
  text-decoration: none;
  color: #fff;
  position: relative;
}
.nav-links li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff5361;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.nav-links li a:hover::after {
  width: 100%;
}
.register-btn {
  background: #fff;
  color: #000;
  padding: 8px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
}
.logo {
  width: 350px;
  cursor: pointer;
}
nav .fa-bars {
  display: block;
  position: fixed;
  top: 4%;
  right: 7%;
  color: #fff;
  font-size: 28px;
}
.active::after {
  left: -40px;
  transform: translate(0, 50%);
  bottom: 50%;
}
.container {
  padding: 0 7%;
}

.header h1 {
  font-size: 4vw;
  font-weight: 500;
  color: #fff;
  text-align: center;
  padding-top: 15%;
}

.footer {
  margin: 37px 0 0 0;
  text-align: center;
}

.active {
  position: relative;
}
nav .fa-bars {
  display: none;
}

.humburger {
  display: none;
}

/*-----------------------------------listing page-------------------------*/

.navbar-white {
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  width: 97vw;
}

.logo {
  height: 40px;
  width: 20vw;
}

.navbar-white .nav-links li a {
  color: #000;
}
.navbar-white .register-btn {
  background: #ff5361;
  color: #fff;
}
nav.navbar-white .fa-bars {
  color: #000;
}
.navbar-white .active::after {
  background: #ff5361;
}
.list-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.left-col {
  flex-basis: 70%;
}
.right-col {
  flex-basis: 25%;
}
.left-col h1 {
  color: #333;
  font-weight: 600;
  margin-bottom: 30px;
}
.house {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 0;
  border-top: 1px solid #ccc;
  height: 50%;
}
.house-img {
  flex-basis: 40%;
}

.house-img img {
  width: 100%;
  border-radius: 12px;
}
#rating-img {
  height: 36px;
  width: 45%;
  margin-top: 5px;
}
.house-info {
  width: 55%;
  color: #555;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.mess-price {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-basis: 29%;
  justify-content: space-evenly;
}
.house-info h3 {
  font-weight: 600;
  color: #333;
  font-size: 22px;
  margin: 4px 0;
}
.house-info i {
  color: #ff5361;
  font-size: 18px;
  margin: 10px 1px;
}
.house-price {
  text-align: right;
}
.mess-price {
  text-align: left;
}
.house-price h4 {
  font-size: 20px;
}
.house-price h4 span {
  font-size: 16px;
  font-weight: 500;
}
.sidebar {
  border: 1px solid #999;
  padding: 20px 30px;
  margin-top: 30px;
}
.sidebar h2 {
  font-weight: 500;
}
.sidebar h3 {
  font-weight: 500;
  margin: 20px 0 10px;
}
.filter {
  display: flex;
  align-items: center;
  color: #555;
  margin-bottom: 10px;
}
.filter p {
  flex: 1;
}
.filter input {
  margin-right: 15px;
  cursor: pointer;
}
.sidebar-link {
  text-align: right;
  margin: 20px 0;
}
.sidebar-link a {
  text-decoration: none;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}
.pagination img {
  width: 15px;
  margin: 10px 20px;
}
.right-arrow {
  transform: rotate(180deg);
}
.pagination span {
  margin: 10px 8px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.pagination .current {
  background: #333;
  color: #fff;
}
/*-------------------------------small screen for listing page------------------------*/
@media only screen and (max-width: 700px) {
  .list-container {
    margin-top: 150px;
  }
  .left-col,
  .right-col,
  .house-img,
  .house-info {
    flex-basis: 100%;
  }
  .left-col h1 {
    font-size: 22px;
  }
  .house-info h3 {
    font-size: 18px;
  }
  .house-info i {
    font-size: 16px;
  }
  .pagination span {
    margin: 10px 2px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }
}

.hostel-details {
  padding: 0 12%;
}
.hostel-title {
  margin-top: 50px;
}
.hostel-title h1 {
  font-weight: 600;
}
.hostel-title .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0;
}
.hostel-title span {
  margin: 0 20px;
}
.hostel-title i {
  color: #ff5361;
  font-size: 14px;
}
.gallery {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "first first . ." "first first . .";
  margin: 20px 0;
}
.gallery div img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
.gallery-img-1 {
  grid-area: first;
}
.small-details h2 {
  font-weight: 500;
}
.small-details h4 {
  text-align: right;
  font-size: 22px;
}
.line {
  border: 0;
  height: 1px;
  background: #ccc;
  width: 100%;
  max-width: 800px;
  margin: 20px 0 50px;
}
.check-form {
  margin: 30px 0;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 50px;
}
.check-form label {
  display: block;
}
.check-form input {
  background: transparent;
  border: 0;
  outline: none;
}
.check-form button {
  background: #ff5361;
  border: 0;
  outline: none;
  color: #fff;
  padding: 18px;
  width: 350px;
  border-radius: 8px;
  font-size: 16px;
}
.guest-field {
  flex: 1;
}
.detail-list {
  list-style: none;
  margin: 50px 0;
}
.detail-list li {
  margin-left: 50px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #555;
  position: relative;
}
.detail-list li span {
  display: block;
  font-weight: 400;
  font-size: 16px;
}
.detail-list li i {
  position: absolute;
  top: 5px;
  left: -40px;
}
.hostel-desc {
  max-width: 700px;
  margin-bottom: 50px;
}

.host {
  display: flex;
  align-items: center;
}
.host img {
  width: 80px;
  border-radius: 50%;
  margin-right: 30px;
}
.host h2 {
  margin-bottom: 10px;
  font-weight: 500;
}
.show {
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.host i {
  color: #ff5361;
}
.contact-host {
  display: inline-block;
  margin: 40px 0 40px 120px;
  text-decoration: none;
  color: #555;
  padding: 15px 50px;
  border: 1px solid #ff5361;
  border-radius: 8px;
}

.DNON {
  display: none;
}

.Search-img {
  width: 25px;
  cursor: pointer;
}
.Search-li,
.Search-li > li {
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#Search {
  width: 10vw;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d14343;
  margin-right: 20px;
  font-size: larger;
  text-align: center;
  color: #333;
  font-weight: 500;
}
#Search:focus {
  width: 10vw;
  outline: 0;
}


/* footer  */

footer {
  background: #333;
  height: 40vh;
  color: white;
  display: flex;
  flex-direction: row;
}

footer a {
  color: #fff;
}
.left {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  margin-top: 50px;
  height: 80%;
}
.left ul {
  margin-left: 30px;
  height: 70%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-between;
  align-items: start;
}

.left ul a {
  text-decoration: none;
}
.right {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.adress {
  width: 50;
  height: 80%;
  display: flex;
  align-items: start;
  flex-direction: row;
  justify-content: start;
  padding-top: 30px;
}

.hostel-text-info {
  height: 47%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.adress ul {
  margin-left: 20px;
  height: 40%;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: start;
}
.navbar-inner {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ul-div {
  height: 90%;
}
.adressimg {
  height: 70%;
  background: #000;
}

/* 
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .navbar {
    background: red;
    width: 100vw;
    color: #fff;
  }
  main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: auto;
    height: auto;
  }
  main:nth-child(3) {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: auto;
  }
  .box-a {
    width: 100%;
  }
  .box-b {
    width: 100%;
  }
  footer {
    flex-direction: column;
    height: 50vh;
  }
  .left {
    width: 95vw;
  }
  .right {
    width: 95vw;
    height: 80%;
  }
  .adress {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
  }
  .adress ul {
    align-items: center;
    justify-content: space-between;
    height: 60%;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }
  .adressimg {
    width: 30vw;
  }
} */

.navbar {
  height: 90px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.navbar-nav-left,
a,
.navbar-nav-right {
  width: 40%;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: aliceblue;
  text-decoration: none;
  list-style-type: none;
}

a {
  width: fit-content;
  color: #333;
  font-family: "poppins", sans-serif;
}

.navbar-nav-left > li,
.navbar-nav-right > li {
  width: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.nav-links li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff5361;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.nav-links li a:hover::after {
  width: 100%;
}

.nav-links li a {
  text-decoration: none;
  position: relative;
}

@media screen and (max-width: 768px) {
  .navbar-nav-left,
  a,
  .navbar-nav-right {
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    text-decoration: none;
    list-style-type: none;
    height: 100%;
    display: fe;
    display: flex;
    flex-direction: column;
  }

  .navbar-inner {
    display: block;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    flex-direction: column;
    align-items: end;
  }
  .navbar-inner.show {
    display: flex;
  }
  .show {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .navbar li {
    margin: 10px 0;
  }
  .hamburger {
    display: none;
  }
  .show {
    display: flex;
    position: absolute;
    top: 0;
    height: 90px;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .hamburger {
    display: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 700px) {
  .navbar {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
    flex-direction: column;
    align-items: end;
  }

  .hamburger {
    display: block;
    font-size: 40px;
    cursor: pointer;
  }
  .navbar li {
    margin: 10px 0;
    width: 50vw;
  }
  .nav-links {
    height: 45%;
  }
  .register-btn {
    width: 50%;
    margin: 10px;
    background: #ff5361;
  }
  .Search-li {
    width: 50vw;
    background: #ff5361;
    padding: 5px;
    border-radius: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #Search {
    margin: 0;
    width: 50%;
  }
  .list-container {
    margin: 20px auto;
  }
  .house {
    height: 47vh;
    padding: 0;
  }

  /* // */
  footer {
    height: 35vh;
    flex-direction: column;
  }
  .left {
    width: 95vw;
    margin: 30px auto 0;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .right {
    width: 95vw;
    margin: 30px auto 0;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .left > ul,
  li {
    height: auto;
  }
  .right > ul {
    height: 95%;
  }
  .adress {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
  }
  .adress ul {
    align-items: center;
    justify-content: space-evenly;
    height: 81%;
    margin-left: 0;
    display: flex;
  }
  .ul-div {
    text-align: start;
  }
  .adressimg {
    width: 30vw;
  }
}
